button {
    display: none
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('mikusecrettemp.jpg') center/cover no-repeat;

    /* sets the margin to the edge of the screen and centers objects as well as adds the background image */
}
